@page "{id}"
@using TestWebApp.Services;
@model TestWebApp.Pages.OrderTransaction
@{
}

@inject SalesOrderService SalesOrderService
@*
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.8/inputmask.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    Inputmask("(999) 99_999").mask("#orderNumber");
  });
</script>
*@
<style>
    

  /*
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
     */
</style>

<div style="display: grid; place-items: center">
  <h1>@Model.Title</h1><br /><br />

  <form method="post">
    @if (Model.Remove == 0)
    {
      <div class="form-group">
        <label for="OrderNumber" style="font-weight: bold;">Order Number</label>
        <input asp-for="SalesOrder.OrderNumber" class="form-control" id="#orderNumber" />
      </div>
      <br />
      <div class="form-group">
        <label for="OrderDate" style="font-weight: bold;">Order Date</label>
        <input asp-for="SalesOrder.OrderDate" class="form-control" />
      </div>
      <br />
      <div class="form-group">
        <label for="itemSelect" style="font-weight: bold;">Customer:</label>
        <select id="itemSelect" name="SelectedCustomerId" asp-for="SelectedCustomerId" class="form-control">
          <option value="">-- Please select a customer --</option>
          @foreach (var item in Model.Customers)
          {
            <option value="@item.Id">@item.Name</option>
          }
        </select>
      </div>
    }
    else
    {
      <div style="font-size: larger; font-weight: bold; color: crimson; text-align: center">
        <span>WARNING: Sales Order Will Be Removed!</span>
      </div>
    }

    <div class="right-container" style="align-content: stretch;width: 100%; margin-top: 5rem">
      <button type="submit" class="btn btn-primary" style="width: 10rem">Save</button>
      <a asp-page="./Index" class="btn btn-secondary" style="margin-left: 1rem; width: 10rem">Back</a>
    </div>

  </form>


</div>
